<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the about page. This is as dank as it gets!
  All credit towards <a href="http://www.railstutorial.org/">
  <em>Ruby on Rails Tutorial</em></a> </br>
  A very good website to <b>learn Ruby on Rails!</b>
  This is the sample application for the tutorial. :)
</p>
