<% provide(:title, "Help") %>
<h1>Helpl! Help!</h1>
<p>
  Get help on Ruby On Rails Tuorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  Lots of help there, by Michael Hartl.
  Love that guy for publishing <em>Ruby on Rails Tutorial</em> book.
  I love cheeeeseburgers!
</p>
