<% provide(:title, "Home") %>
<h1>Epic Sample App, numba 1</h1>
<p>
    Home Page for Lord Kevin. He is learning from
    <a href="http://www.railstutorial.org/">, Ruby On Rails Tutorial</a>
    sample application, pretty epic
</p>
